<div class="container-fluid">
  <div class="container">
    <app-no-data *ngIf="(cartProducts$ | async)?.length === 0"></app-no-data>

    <table *ngIf="(cartProducts$ | async)?.length != 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cartProducts$ | async">
          <th scope="row">
            <a class="remove-product"> X </a>
          </th>
          <td>{{ product.title }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <div class="quantity">
              <i class="bi bi-dash" (click)="decreaseQuantity(product)"></i>
              <span>{{ product.quantity }}</span>
              <i class="bi bi-plus" (click)="increaseQuantity(product)"></i>
            </div>
          </td>
          <td>{{ product.price * product.quantity | currency }}</td>
        </tr>
      </tbody>
    </table>
    <div class="total-price" *ngIf="(cartProducts$ | async)?.length != 0">
      <h2>Total: {{ calculateTotal() | currency }}</h2>
    </div>
  </div>
</div>
