.container-fluid {
  background-color: #141414;
}

form {
  width: 40%;
  .search {
    position: relative;

    input {
      width: 100%;
      background-color: transparent;
      outline: none;
      border: 2px solid #262626;
      border-radius: 10px;
      padding: 15px 0 15px 60px;
      color: #fff;
    }

    .search-button {
      background-color: #753ff1;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 5px;
      color: #fff;

      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      left: 10px;
    }
  }
}

.grid-and-categories {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  app-no-data,
  app-server-error {
    width: 70%;
  }

  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .card {
      background-color: transparent;
      border: 2px solid #262626;
      color: #fff;
      border-radius: 10px;

      img {
        border-radius: 10px;
        max-height: 300px;
      }

      .card-title {
        font-size: 1.11rem;
      }

      a {
        &.product-category {
          border: 1px solid #262626;
          padding: 15px;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          border-radius: 25px;
          background-color: #1a1a1a;
        }
      }

      .card-text {
        font-size: 1rem;
      }

      .card-body {
        .product-price-and-button {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price {
            p {
              margin: 0;
            }
          }
          a {
            background-color: #753ff1;
            border: none;
          }
        }
      }
    }
  }

  .categories-and-price-range {
    width: 25%;
    margin-left: auto;
    .categories {
      border: 2px solid #262626;
      border-radius: 10px;
      padding-top: 20px;
      color: #fff;
      height: 70vh;
      overflow-y: scroll;

      .heading {
        padding-left: 10px;
        display: flex;
        gap: 10px;

        i {
          color: #753ff1;
        }
      }

      &::-webkit-scrollbar {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #262626;
        border-radius: 5px;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
          padding: 10px;
          background: linear-gradient(to right, #1a1a1a, #141414);
          margin: 10px 0;
          cursor: pointer;
          &.active {
            border-left: 2px solid #753ff1;
          }

          a {
            color: #fff;
            width: 100%;
            text-decoration: none;
          }
        }
      }
    }
    .price-range {
      border: 2px solid #262626;
      border-radius: 10px;
      padding-top: 20px;
      color: #fff;

      .heading {
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: #753ff1;
          font-size: 20px;
        }
        h5 {
          margin-bottom: 0;
        }
      }

      mat-slider {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: #753ff1; */
        input {
          &:first-of-type {
            left: 0;
          }
          &:last-of-type {
            right: 0;
          }
        }
      }
      .slider-value {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;

  button {
    background-color: transparent;
    border: 2px solid #262626;
    color: #fff;
    padding: 8px 15px;
    border-radius: 10px;
  }
  span {
    color: #fff;
  }
}

/* Loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  .spinner-border {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 992px) {
  form {
    width: 100%;
  }
  .grid-and-categories {
    flex-direction: column-reverse;

    .grid {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    .categories-and-price-range {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .grid-and-categories .grid {
    grid-template-columns: 1fr;
  }
}
